{% extends "_base.html" %}

{% block content %}

<h1 class="bd-title" id="content">About lostelectro</h1>
<p>Lostelectro is an open project dedicated to dwelling and publishing rare music with no copyrights being active.<br>Our mission is to filter which music is completely lost - and could be freely published - and those, which copyrights must be updated.</p>
<br>
<p>If you want to claim any copyrights about music on lostelectro project, or if you have any questions - you are welcome</p>
<a href="mailto:ask@lostelectro.com">ask@lostelectro.com</a>

{% endblock %}
